<%-include("C:/Users/Asus/web dev/EJs/4.3 EJS Partials/views/partials/header.ejs")  %>

<h1>Contact Me</h1>
<form method="POST" id="form" >
  <input type="hidden" name="access_key" value=process.env.API>
  <input id="name" name="name" type="text" class="feedback-input" placeholder="Name" />
  <input id="email" name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea id="text" name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
  <div id="result"></div>
</form>




<%-include("C:/Users/Asus/web dev/EJs/4.3 EJS Partials/views/partials/footer.ejs")  %>