<%-include("partials/header.ejs")  %>

<h1>About Me</h1>
<img class="profile" src="images/IMG_20231228_113140_406.jpg" alt="cat profile">
<div class="about-p"><p >
Hey, it's Anuratan 👋,  A passionate and dedicated full stack developer, I thrive on exploring new skills and challenges. My commitment to learning is unwavering,  gives 100% effort until I fully grasp or master a concept and believe on understanding real life application of concept. Beyond coding, I have a keen interest in sketching, which allows me to blend creativity with technical expertise. This unique combination of artistic talent and technical prowess enables me to approach problems from diverse perspectives, crafting innovative and efficient solutions. Whether developing application or designing it, I am driven by a relentless pursuit of excellence and a love for continuous learning ❤️..</p>
</div>
  <%-include("partials/footer.ejs")  %>